.float-r {
  float: right;
}
.flex-center {
  align-items: center;
}
.w-100 {
  width: 100px;
}
.w-160 {
  width: 160px;
}
.w-180 {
  width: 180px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
